*{
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* margin: 10px; */
    /* text-decoration: none; */
    color: black;
}
h1{
    font-size: 2.5em;
    color: rgb(141, 22, 22);
    align-items: center;
    text-align: center;
    background-color: rgb(44, 44, 44);
    padding: 15px;
}
h2{
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
    margin: 25px 0;
}
h3{
    font-size: 1.5em;
    margin: 20px 0;
    background-color: rgb(226, 226, 226) ;
    border: 7px ridge goldenrod;
    padding: 10px;
}
h4{
    text-decoration: underline;
    margin-left: 15px;
}
h2,
h1,
h3,
h4{
    color: rgb(141, 22, 22);
    font-weight: bold;
}
ul{
    list-style: none;}
/********************** header **********************/

header{
    /* flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly; */
    text-align: justify;
}
.Definition{
    color: rgb(11, 172, 11);
}
.partie{
    margin-top: 25px;
    margin-bottom: 25px;
    border: medium solid black;
}
.partie br,
.partie li,
.partie p{
    margin-left: 20px;
}

.exemple{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    line-height: 1.5;
}
.border{
    border-top: 1px solid black;
    border-top-width: 1px;
}
p{
    text-align: center;
    font-size: 1em;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

caption {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  color: #333;
}

td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

tr:hover {
  background-color: #dbe9ff;
  transition: background-color 0.3s ease;
}

b{
    color: red;
}